name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    name: Validate Terraform
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - hetzner/server-stateless
          - hetzner/server-stateful
          - hetzner/network
          - hetzner/firewall
          - hetzner/object-storage
          - cloudflare/dns
          - cloudflare/auth
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.0"

      - name: Terraform Init
        run: terraform init -backend=false
        working-directory: modules/${{ matrix.module }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: modules/${{ matrix.module }}
